<footer class="footer bg-dark text-light mt-4">
    <div class="container p-0">
      <div class="row py-3">
        <div class="col-md-6 h6 p-0">
          <h5>Contáctanos</h5>
          <ul class="list-unstyled">
            <li>Dirección: Av. Luxury Car Rental 123, Ciudad de Lujo</li>
            <li>Teléfono: +123 456 789</li>
            <li>Email: info&#64;luxurycarrental.com</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h5>Enlaces rápidos</h5>
          <ul class="list-unstyled  align-items-center">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Vehículos</a></li>
            <li><a href="#">Acerca de nosotros</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="text-center col-12 p-0">
        <p>&copy; 2024 Luxury Car Rental. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
  
