
<div class="container">
    <div class="rowjustify-content-center"> 
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Contacto</div>
                <div class="card-body">
                    <form>
                            <div class="mb-3"> 
                                <label class="form-label" for="">Nombre:</label>
                                <input type="text" placeholder="Nombre" class="form-control container">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="">Apellido: </label>
                                <input type="text" name="" id="" placeholder="Apellido" class="form-control container">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="">Email: </label>
                                <input class="" type="text" placeholder="Correo" class="form-control container">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for=""> Teléfono: </label>
                                <input type="number" class="form-control container">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="">Mensaje :</label>
                                <textarea name="" id="" cols="30" rows="5" class="form-control container"></textarea>
                            </div>
                            <button class="btn btn-primary" >Enviar</button>
                    </form>

                </div>

            </div>
        </div>

    </div>

</div>


