<div class="contenedor">
    <form class="titleInputAndButtonUsers form-inline" [formGroup]="searcherUser" (ngSubmit)="searchUser()">
        <label class="mr-2">Filtra los usuarios por nombre</label>
        <div class="input-group">
            <input type="text" class="form-control" formControlName="user" placeholder="Introduzca nombre" />
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
</div>
<div class="container-fluid">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col" >E-mail</th>
                <th scope="col">Rol</th>
            </tr>
        </thead>
        <tbody>
            @for (user of (usersFiltered.length > 0 ? usersFiltered : users); track user.id){
                <tr>
                    <td scope="col">{{ user.id}}</td>
                    <td scope="col">{{ user.name }}</td>
                    <td scope="col">{{ user.email }}</td>
                    <td scope="col">{{ user.role }}</td>
                </tr>
            }
        </tbody>
    </table>
</div>
