<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid text-center bg-dark text-white">
      <h1 class="display-4">¡Bienvenido a Luxury Car Rentals!</h1>
      <p class="lead">¡Aquí encontrarás los vehículos de lujo más exclusivos para tus necesidades de transporte!</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/home_img.jpg" alt="Aston Martin" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2>Descubre nuestra selección de vehículos de lujo</h2>
        <p>Explora nuestra amplia gama de vehículos de lujo, desde deportivos y descapotables hasta SUVs y sedanes de alta gama.</p>
       
        <a href="/cars" class="btn btn-primary">Explorar vehículos</a>
      </div>
    </div>
  </div>
  
