<form action="">
    <fieldset>
        <div>
            <label>Nombre*:</label>
            <input type="text">
            
        </div>
        <div>
            <label>Apellido: </label>
            <input type="text" name="" id="" >
        </div>
        
        <div>
            <label>Email*:</label>
            <input type="text">
        </div>
        <div>
            <label>Password*:</label>
            <input type="text">
        </div>
        <div>
            <label>Dirección:</label>
            <input type="text">
        </div>
        <div>
            <label>Teléfono: </label>
            <input type="text">
        </div>
        <div>
            <label>Carnet de conducir*</label>
            <input type="date">
            
        </div>
        <div>
            <input type="checkbox">
            <label>Terminos y condiciones (*)</label>
        </div>

        <button>Registrarse</button>
        

    </fieldset>
    
</form>
