fieldset{
    width: 800px;
    margin: 50px;
    background-color: white;
} 

 form{
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
}

.check{
     margin-bottom: 15px;
     margin-top: 15px;
}

.form-space{
    margin-bottom: 10px;
}