<form action="" >
    <fieldset class="container">
        
            <div class="mb-3">
                <label class="form-label">Nombre*:</label>
                <input type="text" class="form-control">
                
            </div>
            <div>
                <label class="form-label">Apellido: </label>
                <input type="text" name="" id=""class="form-control" >
            </div>
            
            <div>
                <label class="form-label">Email*:</label>
                <input type="text" class="form-control">
            </div>
            <div>
                <label class="form-label">Password*:</label>
                <input type="text" class="form-control">
            </div>
            <div>
                <label class="form-label">Dirección:</label>
                <input type="text" class="form-control">
            </div>
            <div>
                <label class="form-label">Teléfono: </label>
                <input type="text" class="form-control">
            </div>
            <div>
                <label class="form-label">Carnet de conducir*</label>
                <input type="date" class="form-control">
                
            </div>
            <div class="form-check check" >
                <input type="checkbox" class="">
                <label class="form-check-label" >Terminos y condiciones (*)</label>
            </div>
    
            <button class="btn btn-primary">Registrarse</button>
            
            <p>Los campos que contengan * son obligatorios</p>
            
        </fieldset>
        
        
   
    
</form>
