<div class="contenedor">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
            <button ngbNavLink>Lista Usuarios</button>
            <ng-template ngbNavContent>
                <p>Lsita de usuarios registrados en la BBDD</p>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <button ngbNavLink>Buscar Usuario</button>
            <ng-template ngbNavContent>
                <app-form-find-user></app-form-find-user>
            </ng-template>
        </li>
        <li [ngbNavItem]="3">
            <button ngbNavLink>Borrar Usuarios</button>
            <ng-template ngbNavContent>
                <app-form-delete-user></app-form-delete-user>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
    
</div>